.chromeframe
{
	margin: .2em 0;
	background: #ccc;
	color: #000;
	padding: .2em 0
}

footer[role="contentinfo"]
{
	text-align: center
}

nav li
{
	margin-left: 10%
}
	
header[role="banner"]
{
	text-align: center
}